VITE_GIFTS_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx8x7WhvlfHDDNZEp8_EIW9uEmtZr6TnY1G3851fM75ybdEc7_ee8A6FzP5DHP8ybexMw/exec

VITE_RSVP_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw-4hZkzZDMITYk-nY_UyoSD6cY0qyXGZ4y4eee09NLh5jTs4KQNKM0jQ2RRethgZu5FA/exec
